<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA_Compatible" content="ie-edge">
    <title>Coding Dojo Login and Registration Assignment</title>
  </head>
  <body>
    <h2>Welcome- Register Here</h2>
    <form action="/register" method="post">
      <label for="email">Email</label>:
      <input type="email" name=email> <br><br>
      <label for="first_name">First Name:</label>
      <input type="text" name=first_name> <br><br>
      <label for="last_name">Last Name:</label>
      <input type="text" name=last_name> <br><br>
      <i>Password must have a at last 1 number, 1 uppercase letter and 1 special character</i><br><br>
      <label for="password">Password:</label>
      <input type="password" name=password> <br><br>
      <label for="birthday">Birthday:</label>
      <input type="date" name=birthday> <br><br>
      <input type="submit" value="Register">
    </form>
  </body>
</html>
